@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

/* Toggle Menu */

.nav-box.show{
  visibility: visible;
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

/* Stroke Text */

.stroke-text{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: white;
}

/* Scroll to Top */

.scrolltotop.show{
  visibility: visible;
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

/* Testimonial Slider Pagination */

.swiper-testimonial-pagination.swiper-pagination-progressbar,
    .swiper-testimonial-pagination.swiper-pagination-horizontal{
  position: absolute;
  top: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  height: 2px;
  width: auto;
  overflow: hidden;
  border-radius: 0.125rem;
  background-color: rgb(255 255 255 / 0.2);
}

@media (min-width: 1024px){
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
    .swiper-testimonial-pagination.swiper-pagination-horizontal{
    left: 310px;
  }
}

@media (min-width: 1280px){
  .swiper-testimonial-pagination.swiper-pagination-progressbar,
    .swiper-testimonial-pagination.swiper-pagination-horizontal{
    left: 330px;
  }
}

.swiper-testimonial-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
    .swiper-testimonial-pagination.swiper-pagination-horizontal .swiper-pagination-progressbar-fill{
  background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);;
}

/*------------------------------------------------
        Contact form submit result
    -------------------------------------------------*/

.submit-result span{
  display: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.submit-result span.show-result{
  margin-top: 1.5rem;
  display: block;
}

/*------------------------------------------------
        Page Preloader
    -------------------------------------------------*/

.loaded .preloader{
  visibility: hidden;
  opacity: 0;
}

.pointer-events-none{
  pointer-events: none;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-5{
  bottom: 1.25rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.right-0{
  right: 0px;
}

.right-4{
  right: 1rem;
}

.right-5{
  right: 1.25rem;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-4{
  top: 1rem;
}

.top-\[60px\]{
  top: 60px;
}

.top-full{
  top: 100%;
}

.z-10{
  z-index: 10;
}

.z-30{
  z-index: 30;
}

.z-\[11\]{
  z-index: 11;
}

.z-\[1\]{
  z-index: 1;
}

.order-3{
  order: 3;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-\[10px\]{
  height: 10px;
}

.h-\[160px\]{
  height: 160px;
}

.h-\[200px\]{
  height: 200px;
}

.h-\[240px\]{
  height: 240px;
}

.h-\[400px\]{
  height: 400px;
}

.h-\[44px\]{
  height: 44px;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[60px\]{
  height: 60px;
}

.h-full{
  height: 100%;
}

.w-1\/2{
  width: 50%;
}

.w-\[10px\]{
  width: 10px;
}

.w-\[200px\]{
  width: 200px;
}

.w-\[240px\]{
  width: 240px;
}

.w-\[44px\]{
  width: 44px;
}

.w-\[50px\]{
  width: 50px;
}

.w-\[60px\]{
  width: 60px;
}

.w-full{
  width: 100%;
}

.min-w-\[200px\]{
  min-width: 200px;
}

.min-w-\[250px\]{
  min-width: 250px;
}

.max-w-\[1320px\]{
  max-width: 1320px;
}

.max-w-\[1600px\]{
  max-width: 1600px;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-5{
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[5px\]{
  --tw-translate-y: 5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[5\]{
  --tw-scale-x: 5;
  --tw-scale-y: 5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes loaderLetter{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.animate-loader{
  animation: loaderLetter 1.0s linear infinite;
}

.cursor-pointer{
  cursor: pointer;
}

.list-none{
  list-style-type: none;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-y-\[10px\] > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(10px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(10px * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-visible{
  overflow: visible;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-black\/20{
  background-color: rgb(0 0 0 / 0.2);
}

.bg-darkBg{
  --tw-bg-opacity: 1;
  background-color: rgb(24 26 28 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white\/10{
  background-color: rgb(255 255 255 / 0.1);
}

.bg-white\/15{
  background-color: rgb(255 255 255 / 0.15);
}

.bg-themeGradient{
  background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);;
}

.bg-clip-text{
  -webkit-background-clip: text;
          background-clip: text;
}

.p-8{
  padding: 2rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-24{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-9{
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.pb-24{
  padding-bottom: 6rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pl-\[14px\]{
  padding-left: 14px;
}

.pl-\[20px\]{
  padding-left: 20px;
}

.pr-11{
  padding-right: 2.75rem;
}

.pr-\[34px\]{
  padding-right: 34px;
}

.pr-\[4px\]{
  padding-right: 4px;
}

.pt-24{
  padding-top: 6rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.text-center{
  text-align: center;
}

.font-opensans{
  font-family: Open Sans, sans-serif;
}

.font-outfit{
  font-family: Outfit, sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

.leading-\[1\.75\]{
  line-height: 1.75;
}

.leading-none{
  line-height: 1;
}

.leading-normal{
  line-height: 1.5;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.text-red-600{
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-transparent{
  color: transparent;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/40{
  color: rgb(255 255 255 / 0.4);
}

.text-white\/70{
  color: rgb(255 255 255 / 0.7);
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.opacity-15{
  opacity: 0.15;
}

.opacity-20{
  opacity: 0.2;
}

.opacity-65{
  opacity: 0.65;
}

.mix-blend-difference{
  mix-blend-mode: difference;
}

.backdrop-blur{
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100{
  transition-duration: 100ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-\[120ms\]{
  transition-duration: 120ms;
}

.duration-\[80ms\]{
  transition-duration: 80ms;
}

.ease-custom{
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ease-linear{
  transition-timing-function: linear;
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/* Animation Delay */

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.placeholder\:text-white\/40::-moz-placeholder{
  color: rgb(255 255 255 / 0.4);
}

.placeholder\:text-white\/40::placeholder{
  color: rgb(255 255 255 / 0.4);
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:top-1\/2::before{
  content: var(--tw-content);
  top: 50%;
}

.before\:-z-\[1\]::before{
  content: var(--tw-content);
  z-index: -1;
}

.before\:z-\[1\]::before{
  content: var(--tw-content);
  z-index: 1;
}

.before\:h-\[12px\]::before{
  content: var(--tw-content);
  height: 12px;
}

.before\:h-\[5px\]::before{
  content: var(--tw-content);
  height: 5px;
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:w-\[12px\]::before{
  content: var(--tw-content);
  width: 12px;
}

.before\:w-\[5px\]::before{
  content: var(--tw-content);
  width: 5px;
}

.before\:w-full::before{
  content: var(--tw-content);
  width: 100%;
}

.before\:-translate-y-1\/2::before{
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:rounded-md::before{
  content: var(--tw-content);
  border-radius: 0.375rem;
}

.before\:border-2::before{
  content: var(--tw-content);
  border-width: 2px;
}

.before\:border-white\/30::before{
  content: var(--tw-content);
  border-color: rgb(255 255 255 / 0.3);
}

.before\:bg-white\/80::before{
  content: var(--tw-content);
  background-color: rgb(255 255 255 / 0.8);
}

.before\:bg-themeGradient::before{
  content: var(--tw-content);
  background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);;
}

.before\:text-black::before{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.before\:text-white::before{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.before\:opacity-0::before{
  content: var(--tw-content);
  opacity: 0;
}

.before\:opacity-100::before{
  content: var(--tw-content);
  opacity: 1;
}

.before\:opacity-30::before{
  content: var(--tw-content);
  opacity: 0.3;
}

.before\:transition-all::before{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:duration-100::before{
  content: var(--tw-content);
  transition-duration: 100ms;
}

.before\:duration-200::before{
  content: var(--tw-content);
  transition-duration: 200ms;
}

.before\:ease-linear::before{
  content: var(--tw-content);
  transition-timing-function: linear;
}

.before\:ease-out::before{
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.before\:content-\[\'\'\]::before{
  --tw-content: '';
  content: var(--tw-content);
}

.before\:content-\[attr\(data-text\)\]::before{
  --tw-content: attr(data-text);
  content: var(--tw-content);
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after{
  content: var(--tw-content);
  bottom: 0px;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:right-\[20px\]::after{
  content: var(--tw-content);
  right: 20px;
}

.after\:right-\[28px\]::after{
  content: var(--tw-content);
  right: 28px;
}

.after\:top-1\/2::after{
  content: var(--tw-content);
  top: 50%;
}

.after\:top-full::after{
  content: var(--tw-content);
  top: 100%;
}

.after\:h-\[2px\]::after{
  content: var(--tw-content);
  height: 2px;
}

.after\:h-\[5px\]::after{
  content: var(--tw-content);
  height: 5px;
}

.after\:w-\[5px\]::after{
  content: var(--tw-content);
  width: 5px;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:-translate-y-1\/2::after{
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-black::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.after\:bg-white::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.after\:bg-themeGradient::after{
  content: var(--tw-content);
  background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);;
}

.after\:text-black::after{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.after\:text-white::after{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.after\:opacity-0::after{
  content: var(--tw-content);
  opacity: 0;
}

.after\:transition-all::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:duration-200::after{
  content: var(--tw-content);
  transition-duration: 200ms;
}

.after\:duration-\[60ms\]::after{
  content: var(--tw-content);
  transition-duration: 60ms;
}

.after\:ease-out::after{
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.after\:content-\[attr\(data-text\)\]::after{
  --tw-content: attr(data-text);
  content: var(--tw-content);
}

.hover\:pl-\[26px\]:hover{
  padding-left: 26px;
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.hover\:before\:-top-full:hover::before{
  content: var(--tw-content);
  top: -100%;
}

.hover\:before\:opacity-0:hover::before{
  content: var(--tw-content);
  opacity: 0;
}

.hover\:before\:opacity-10:hover::before{
  content: var(--tw-content);
  opacity: 0.1;
}

.hover\:before\:opacity-20:hover::before{
  content: var(--tw-content);
  opacity: 0.2;
}

.hover\:after\:top-0:hover::after{
  content: var(--tw-content);
  top: 0px;
}

.hover\:after\:scale-\[2\.7\]:hover::after{
  content: var(--tw-content);
  --tw-scale-x: 2.7;
  --tw-scale-y: 2.7;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:after\:opacity-100:hover::after{
  content: var(--tw-content);
  opacity: 1;
}

.hover\:after\:opacity-40:hover::after{
  content: var(--tw-content);
  opacity: 0.4;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:visible{
  visibility: visible;
}

.group:hover .group-hover\:invisible{
  visibility: hidden;
}

.group:hover .group-hover\:top-0{
  top: 0px;
}

.group:hover .group-hover\:top-1\/2{
  top: 50%;
}

.group\/blog-box:hover .group-hover\/blog-box\:-translate-x-0{
  --tw-translate-x: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/portfolio-box:hover .group-hover\/portfolio-box\:-translate-x-0{
  --tw-translate-x: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-105{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/blog-box:hover .group-hover\/blog-box\:pl-\[44px\]{
  padding-left: 44px;
}

.group\/portfolio-box:hover .group-hover\/portfolio-box\:pl-\[44px\]{
  padding-left: 44px;
}

.group\/blog-box:hover .group-hover\/blog-box\:opacity-100{
  opacity: 1;
}

.group\/portfolio-box:hover .group-hover\/portfolio-box\:opacity-100{
  opacity: 1;
}

.group:hover .group-hover\:opacity-0{
  opacity: 0;
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.group:hover .group-hover\:before\:-top-full::before{
  content: var(--tw-content);
  top: -100%;
}

.group:hover .group-hover\:before\:opacity-0::before{
  content: var(--tw-content);
  opacity: 0;
}

.group:hover .group-hover\:after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.group:hover .group-hover\:after\:opacity-100::after{
  content: var(--tw-content);
  opacity: 1;
}

@media (min-width: 768px){
  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .md\:flex{
    display: flex;
  }

  .md\:h-\[240px\]{
    height: 240px;
  }

  .md\:h-\[270px\]{
    height: 270px;
  }

  .md\:w-3\/4{
    width: 75%;
  }

  .md\:w-4\/5{
    width: 80%;
  }

  .md\:w-\[15\%\]{
    width: 15%;
  }

  .md\:w-\[240px\]{
    width: 240px;
  }

  .md\:w-\[270px\]{
    width: 270px;
  }

  .md\:w-\[40\%\]{
    width: 40%;
  }

  .md\:w-\[45\%\]{
    width: 45%;
  }

  .md\:min-w-\[240px\]{
    min-width: 240px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1024px){
  .lg\:order-1{
    order: 1;
  }

  .lg\:order-2{
    order: 2;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:mt-12{
    margin-top: 3rem;
  }

  .lg\:inline-block{
    display: inline-block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:h-\[260px\]{
    height: 260px;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:w-2\/3{
    width: 66.666667%;
  }

  .lg\:w-3\/4{
    width: 75%;
  }

  .lg\:w-\[260px\]{
    width: 260px;
  }

  .lg\:min-w-\[260px\]{
    min-width: 260px;
  }

  .lg\:grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:space-x-12 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:pb-0{
    padding-bottom: 0px;
  }

  .lg\:text-left{
    text-align: left;
  }

  .lg\:text-right{
    text-align: right;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1280px){
  .xl\:right-10{
    right: 2.5rem;
  }

  .xl\:mt-14{
    margin-top: 3.5rem;
  }

  .xl\:h-\[280px\]{
    height: 280px;
  }

  .xl\:h-\[320px\]{
    height: 320px;
  }

  .xl\:w-\[280px\]{
    width: 280px;
  }

  .xl\:w-\[320px\]{
    width: 320px;
  }

  .xl\:min-w-\[280px\]{
    min-width: 280px;
  }

  .xl\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .xl\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .xl\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .xl\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .xl\:pb-28{
    padding-bottom: 7rem;
  }

  .xl\:pt-28{
    padding-top: 7rem;
  }

  .xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }

  .xl\:text-9xl{
    font-size: 8rem;
    line-height: 1;
  }
}